:host {
  &.disabled {
    sr-cell {
      cursor: not-allowed;
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix:first-child {
  border: none;
}

.clearfix {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.clearfix:last-child {
  border: none;
}
