mat-toolbar {
  &.mobile {
    height: 126px;
    align-items: flex-end;
    padding-bottom: 24px;
  }
  &.tablet {
    height: 96px;
    align-items: flex-end;
    padding-bottom: 18px;
  }

  sr-icon {
    opacity: .6;
    &.connected {
      opacity: 1;
      color: white;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.sr-tt-logo {
  background-image: url('../assets/icons/logo_weiss_vector.svg');
  background-repeat: no-repeat;
  width: 66px;
  height: 46px;
}
