.DS_Store
bin/
/**/bin/**/*
obj
.idea
.vs
tempkey.rsa
android
ios
publish
PublishProfiles
/backend/SignalRSample.IdentityServer/apsettings.development.json
/backend/SignalRSample.IdentityServer/appsettings.json
