:host {
  cursor: pointer;
  user-select: none;
  width: 62px;
  height: 62px;
  background-color: white;
  float: left;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62px;
  touch-action: manipulation;

  &.middle {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  &.other {
    color: #ff584f;
  }
}
