@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <p>@context.User.Identity.Name</p>
        <MatIconButton Icon="exit_to_app" OnClick="@BeginSignOut"></MatIconButton>
    </Authorized>
</AuthorizeView>

@code{

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();

        Navigation.NavigateTo("authentication/logout");
    }
}