@inject Sotsera.Blazor.Oidc.IUserManager UserManager

<AuthorizeView>
    <Authorized>
        <span class="login-display-name mr-3">
            @UserManager.User.Name, @UserManager.UserState.ExpiresAt
        </span>
        <MatIconButton Icon="exit_to_app" OnClick="@LogoutRedirect"></MatIconButton>
    </Authorized>
</AuthorizeView>

@code {

    protected async override Task OnInitializedAsync() 
    {
        if (String.IsNullOrWhiteSpace(UserManager.UserState?.AccessToken)) 
        {
            await UserManager.BeginAuthenticationAsync();
        }

    }
    public async void LogoutRedirect() => await UserManager.BeginLogoutAsync(p => p.WithRedirect());
}