@model SignalRSample.IdentityServer.ViewModels.Account.LoginViewModel

<form asp-route="Login">
    <div class="login-box">
        <h1>Login</h1>
        <input type="hidden" asp-for="ReturnUrl"/>
        <div class="textbox">
            <input placeholder="Username" asp-for="Username" autofocus>
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" asp-for="Password" autocomplete="off">
        </div>
        <div class="form-group">
            <button class="btn" name="button" value="login">Login</button>
        </div>
    </div>
</form>