@model SignalRSample.IdentityServer.ViewModel.Register.RegisterViewModel

@*<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Neuen Nutzer erstellen</h4>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label">Username</label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control"/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">E-Mail</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">Passwort wiederholen</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Registrieren</button>
        </div>
    </div>
</form>*@


<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="login-box">
        <h1>Registrierung</h1>
        <div class="textbox">
            <input placeholder="Username" asp-for="UserName" autofocus>
        </div>
        <div class="textbox">
            <input type="email" placeholder="E-Mail" asp-for="Email" autofocus>
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" asp-for="Password" autocomplete="off">
        </div>
        <div class="textbox">
            <input type="password" placeholder="Password" asp-for="ConfirmPassword" autocomplete="off">
        </div>
        <div class="form-group">
            <button class="btn" name="button" value="login">Anmelden</button>
            <button class="btn" name="button" value="register" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</button>
        </div>
    </div>
</form>