@inherits LayoutComponentBase
@inject Sotsera.Blazor.Oidc.IUserManager UserManager

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <div class="sr-tt-logo">
                </div>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <Login />
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
 
    <MatAppBarContent>
        @if (!String.IsNullOrWhiteSpace(UserManager?.UserState?.AccessToken))
        {
            @Body                
        }
    </MatAppBarContent>
</MatAppBarContainer>