@page "/"

<AuthorizeView>
    <Authorized>
        <TicTacToe></TicTacToe>
    </Authorized>
    <NotAuthorized>
        <div style="display: flex; justify-content:center; align-items: center; height: 100%;">
            <MatButton OnClick="@BeginSignIn" Unelevated="true" Style="background-color: #ff584f;">Anmelden</MatButton>
        </div>
    </NotAuthorized>
</AuthorizeView>