@inherits LayoutComponentBase

<Layout>
    <LayoutHeader Fixed="true">
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Primary" Theme="Theme.Primary">
            <BarBrand>
                SignalR Sample Tic Tac Toe
            </BarBrand>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        <div class="container">
            @Body
        </div>
    </LayoutContent>
</Layout>